@import url("./reset.css");

:root {
  --font: "Poppins", sans-serif;
  --color1: #a7727d;
  --color2: #eddbc7;
  --color3: #f8ead8;
  --color4: #f9f5e7;
  --color5: #282a3a;
}
body {
  font-family: var(--font);
  background-color: var(--color4);
  min-height: 100vh;
}
header {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 3rem;
  margin-block-end: 1.5rem;
}

.todo-input,
.todo-button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border: none;
  background: var(--color3);
}
.todo-input::placeholder {
  color: var(--color1);
  font-size: 0.775rem;
}

form button {
  color: var(--color1);
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: var(--color1);
  color: var(--color3);
}
form .todo-check-completed {
  cursor: pointer;
  font-size: 0.775rem;
  letter-spacing: 1px;
  margin-inline: 1.5rem;
}
form .todo-check-completed input {
  appearance: auto;
  margin-inline-end: 0.5rem;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  min-height: 40vh;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  background: var(--color3);
  font-size: 0.775rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color4);
  transition: all 1s ease;
}

.todo li {
  flex: 1;
}

.remove-btn,
.complete-btn {
  background: var(--color1);
  color: var(--color3);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.775rem;
}
.complete-btn {
  background-color: var(--color5);
}
.complete-btn.complete {
  background-color: var(--color1);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-remove,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.todo-count {
  font-size: 0.775rem;
  text-align: center;
  letter-spacing: 1px;
  color: var(--color5);
}

.todo-count strong {
  color: var(--color1);
  font-weight: 700;
}
