#root {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.search-user {
  margin-block-end: 2rem;
}
.ant-card {
  margin: 0 auto;
}
.userInfo {
  margin-block-start: 2rem;
}
.userCard {
  margin-block-start: 1rem;
  margin-block-end: 3rem;
}
